<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785527513486-1b84qen83mkb3b78u9mvjvio1fsnj06g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785527513486-1b84qen83mkb3b78u9mvjvio1fsnj06g</string>
	<key>API_KEY</key>
	<string>AIzaSyBH2aOymnVLvy4u8x-gBMR_1EFXkxO_x0E</string>
	<key>GCM_SENDER_ID</key>
	<string>785527513486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.airShoes</string>
	<key>PROJECT_ID</key>
	<string>air-shoes</string>
	<key>STORAGE_BUCKET</key>
	<string>air-shoes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785527513486:ios:f2c49800f85c14ac7204df</string>
</dict>
</plist>